@model SharpOAuth2.Framework.IToken

@{
    ViewBag.Title = "Client Credentials Token";
}

<h2>Client Credentials</h2>

<dl>
    <dt>Token</dt>
    <dd>@Model.Token</dd>
    <dt>Token Type</dt>
    <dd>@Model.TokenType</dd>
    <dt>Expires In</dt>
    <dd>@Model.ExpiresIn</dd>
    @if (!string.IsNullOrEmpty(Model.RefreshToken))
    {
    <dt>Refresh Token</dt>
    <dd>@Model.RefreshToken</dd>
    }
    <dt>Scope</dt>
    <dd>@string.Join(" ",Model.Scope)</dd>
</dl>
